[role="button"] {
  @include font-size(17);
  background-color: $white;
  color: $green;
  font-weight: 100;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  transition-duration: .3s;
  z-index: 20;

  &:hover,
  &:focus {
    background: $green;
    color: $white;
  }

  @media #{$wide} {
    @include font-size(20);
  }

}
