$family: proxima-nova;
$family-cap: Proxima-Nova;
$family-con: ProximaNova;

@mixin font-face(
  $weight-name,
  $weight-value,
  $style
) {
  @font-face {
    font-family: '#{$family}';
    font-style: $style;
    font-weight: $weight-value;
    src: local('#{$family-cap}-#{$weight-name}'), local('#{$family-cap}-#{$weight-name}'), url(#{$family-con}-#{$weight-name}.otf) format('opentype');
  }
}

@include font-face(Thin, 100, normal);
// @include font-face(ThinItalic, 100, italic);
@include font-face(Light, 300, normal);
// @include font-face(LightItalic, 300, italic);
@include font-face(Regular, 400, normal);
@include font-face(RegularItalic, 400, italic);
// @include font-face(Semibold, 600, normal);
// @include font-face(SemiboldItalic, 600, italic);
@include font-face(Bold, 700, normal);
// @include font-face(BoldItalic, 700, italic);
// @include font-face(Extrabold, 800, normal);
// @include font-face(ExtraboldItalic, 800, italic);
// @include font-face(Black, 900, normal);
// @include font-face(BlackItalic, 900, italic);
