<section class="more">
  <div class="more__subheading">
    <h3>Need more?</h3>
    <h5>Here are some <a href="https://www.github.com/stephenway">open-source projects</a> I've been working on.</h5>
  </div>
  <ul class="gh-repos" id="gh_repos">
    <li class="loading">Status updating&hellip;</li>
  </ul>
</section>

<footer aria-label="<%= title %> Footer">
  <h6 class="h1">Interested? <a href="mailto:<%= email %>">Contact me</a>.
</footer>

<a href="#" class="actionable">=</a>
