<div class="case case--bank-trend">
<header role="banner">
  <picture>
    <source srcset="<%= dribbble %>/1381900/logo.png" media="(min-width: 642px)"></source>
    <img src="<%= dribbble %>/1381900/logo_teaser.png" alt="Bank Trend Logo" />
  </picture>
  <div class="summary">
    <div class="summary__project">
      <h2>About the Project</h2>
      <p>Re-define the peer analysis tool from the design of the report, all the way through the brand and online marketing.</p>
    </div>
    <div class="summary__role">
      <h2>My Role</h2>
      <p>Provided brand strategy and design for this company and product from inception through design.</p>
    </div>
  </div>
</header>
<section class="case__photo case__photo--product">
  <span class="case__hgroup">
    <h3>Mobile First</h3>
    <h5>Designed to work great on smaller devices too.</h5>
  </span>
  <div class="picture-group">
  <picture class="picture">
    <img src="images/bank-trend/scene-2-mobile.jpg" alt="Product Photo" width="1280" height="853">
  </picture>
  </div>
</section>
<section class="case__photo case__photo--product">
  <span class="case__hgroup">
    <h3>Information design</h3>
    <h5>Readability, attraction and recall</h5>
  </span>
  <div class="picture-group--3">
    <picture class="picture"><img src="images/bank-trend/bar-graph-1.png" alt="Bar Graph Example" width="258" height="239"></picture>
    <picture class="picture"><img src="images/bank-trend/radial-graph.png" alt="Radial Graph Example" width="258" height="239"></picture>
    <picture class="picture"><img src="images/bank-trend/bar-graph-2.png" alt="Bar Graph Example" width="258" height="239"></picture>
  </div>
</section>
<section class="case__photo case__photo--product">
  <span class="case__hgroup">
    <h3>Modern &amp; Bold</h3>
    <h5>Setting the stage for an unbeatable product.</h5>
  </span>
  <div class="picture-group">
  <picture class="picture">
    <img src="images/bank-trend/scene-1-laptop.jpg" alt="Product Photo" width="1280" height="853">
  </picture>
  </div>
</section>
</div>

