<div class="case case--best-buy">
<header role="banner">
  <picture class="wide">
    <img src="images/best-buy/best-buy-background.jpg" alt="Best Buy Insurance" width="1200" height="888">
  </picture>
  <div class="summary">
  <h1>Best Buy Insurance</h1>
    <div class="summary__project">
      <h2>About the Project</h2>
      <p>I planned out the new online strategy for Best Buy Insurance. In order to communicate their universal message, I selected the illustrations to show "life, as we all live it". After that I handled all the design work and programming for their redesign.</p>
    </div>
    <div class="summary__role">
      <h2>My Role</h2>
      <p>Best Buy Insurance came to us needing a new website that would emphasize their "insurance is like a puzzle" mantra "we make the pieces fit"</p>
    </div>
  </div>
</header>
<section class="case__photo case__photo--artboards">
  <hgroup>
    <h3>Setting the stage</h3>
    <h5>Illustrations by Eva Daneva</h5>
  </hgroup>
  <picture class="picture--half"><img src="images/best-buy/shutterstock_43966057.jpg" alt="Stock Illustration" width="800" height="600"></picture>
  <picture class="picture--third"><img src="images/best-buy/shutterstock_43966060.jpg" alt="Stock Illustration" width="800" height="600"></picture>
  <picture class="picture--third"><img src="images/best-buy/shutterstock_94243402.jpg" alt="Stock Illustration" width="800" height="600"></picture>
</section>
<section class="case__photo case__photo--product">
  <hgroup>
    <h3>Mobile-first</h3>
    <h5>Getting insurance in Ontario has never been so simple.</h5>
  </hgroup>
  <a href="http://stephenway.net/x-ray/?url=http://www.bestbuyinsurance.ca" target="_blank">
    <picture class="picture">
      <img src="images/best-buy/renders/iphone6-1.png" alt="Product Photo" width="800" height="600">
    </picture>
    View Mobile Site
  </a>
</section>
<section class="case__photo case__photo--product">
  <a href="http://www.bestbuyinsurance.ca" target="_blank">
    <picture class="picture">
      <img src="images/best-buy/renders/macbookair.png" alt="Product Photo" width="800" height="600">
    </picture>
    View Full Site
  </a>
</section>
</div>

