<section role="main">
  <span class="main__headlines">
    <h1 class="main__headline"></h1>
    <h3 class="main__subheadline"></h3>
    <p>I've prepared a great group of case studies to follow. I think you will like how I solved these problems with a meaningful experience that connects with the user.</p>
  </span>
</section>

<section class="study study--best-buy">
  <h4 class="h1">
    <span class="bb">Best Buy Insurance</span><br>
    Making the pieces fit
  </h4>
  <a href="/best-buy-insurance" role="button">Read about Best Buy Insurance</a>
</section>

<section class="study study--bank-trend">
  <picture>
    <source srcset="<%= dribbble %>/1381900/logo.png" media="(min-width: 642px)" />
    <img src="<%= dribbble %>/1381900/logo_teaser.png" alt="Bank Trend Logo" />
  </picture>
  <a href="/bank-trend-reporter" role="button">Read about Bank Trend Reporter</a>
</section>

<section class="study study--growth-analyzer">
  <h4 class="h1">
    <span class="ar">Agency Revolution</span><br>
    The Growth Analyzer
  </h4>
  <a href="http://www.agencyrevolution.com/analyzer/" role="button" target="_blank">Visit The Growth Analyzer</a>
</section>

<section class="study study--crawmers-critterz">
  <picture>
    <source srcset="<%= dribbble %>/1381922/logo.png" media="(min-width: 642px)" />
    <img src="<%= dribbble %>/1381922/logo_teaser.png" alt="Crawmer's Critterz Logo" />
  </picture>
  <a href="http://www.bendpreschool.com" role="button" target="_blank">Visit Crawmer's Critterz</a>
</section>

<section class="study study--scorecard">
  <picture>
    <img src="images/scorecard/scorecard-logo-white.png" alt="Scorecard Logo" width="380" height="151">
  </picture>
  <a href="http://scorecard.io/" role="button" target="_blank">Visit Scorecard</a>
</section>

<section class="study study--sketch-foundation">
  <picture>
    <img src="images/sketch-foundation/sketch-foundation-kit.svg" alt="Sketch Foundation Kit" width="362" height="300">
  </picture>
  <a href="/sketch-foundation" role="button">Read about Sketch Foundation Kit</a>
</section>

