.navbar {
  background-color: $white;
  color: $black;
  padding: 1rem;
  opacity: .8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &__title {
    
  }

  &__menu {
    float: right;
  }

}
