$white: #fff;
$black: #444;
$green: rgb(0, 180, 150);
$olive: transparentize($green, .9);
$eggplant: rgb(102, 65, 71);
$blue: rgb(9, 141, 186);
$grey: rgba(123, 123, 123, .3);

// Best Buy
$grass: rgb(141, 175, 0);
$orange: rgb(255, 124, 52);

$highlight-pink: rgba(244, 188, 198, .6);
$highlight-yellow: rgba(242, 244, 188, .6);

$wide: only screen and (min-width: 40.063em);

