<div class="case case--sketch-foundation">
<header role="banner">
  <picture>
    <img src="images/sketch-foundation/project-image.jpg" alt="Sketch Foundation Kit" width="800" height="600">
  </picture>
  <div class="summary">
    <div class="summary__project">
      <h2>About the Project</h2>
      <p>It is no secret that working in a front-end framework can speed up your workflow, however I set out to make it even faster by emulating Foundation inside Sketch to make future prototypes easier to rapidly design upon. This project was open-sourced on Github and attracted a big following in the designer community.
    </div>
    <div class="summary__role">
      <h2>My Role</h2>
      <p>My vision was to share this project with as many designers as I could. Since building the project, I've been adding on and maintaining it since it's release.</p>
    </div>
  </div>
</header>
<section class="case__video">
  <hgroup>
    <h3>Level Up</h3>
    <h5>Featured on a popular tutorial channel.</h5>
  </hgroup>
  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/NschtZQsrdw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
<section class="case__photo case__photo--artboards">
  <hgroup>
    <h3>Symbol &amp; Style</h3>
    <h5>Many options to choose from, with more ways to rapidly adapt components.</h5>
  </hgroup>
  <picture class="picture--half"><img src="images/sketch-foundation/artboard-navigation.png" alt="Navigation Artboard" width="800" height="600"></picture>
  <picture class="picture--half"><img src="images/sketch-foundation/artboard-buttons.png" alt="Navigation Artboard" width="800" height="600"></picture>
  <picture class="picture--half"><img src="images/sketch-foundation/artboard-media.png" alt="Navigation Artboard" width="800" height="600"></picture>
  <picture class="picture--half"><img src="images/sketch-foundation/artboard-forms.png" alt="Navigation Artboard" width="800" height="600"></picture>
  <picture class="picture--half"><img src="images/sketch-foundation/artboard-typography.png" alt="Navigation Artboard" width="800" height="600"></picture>
  <picture class="picture--half"><img src="images/sketch-foundation/artboard-system.png" alt="Navigation Artboard" width="800" height="600"></picture>
</section>
<section class="case__photo case__photo--twitter">
  <hgroup>
    <h3>A Winner, For Designers</h3>
    <h5>Just a few people who use this for prototyping.</h5>
  </hgroup>
  <div class="case__image"></div>
</section>
</div>
