*,
*::before,
*::after { box-sizing: border-box; }

::-moz-selection {
  background: $highlight-yellow;
  text-shadow: none;
}

::selection {
  background: $highlight-yellow;
  text-shadow: none;
}

.browserupgrade {
  background: $grey-c;
  color: $black;
  margin: .2em 0;
  padding: .2em 0;
}

html { font-size: 62.5%; } // Base 10 Scale

body {
  @extend %no-box;
  @include font-size(16);
  -webkit-backface-visibility: hidden;
  background-color: $olive;
  color: $black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;

  .wf-active & { font-family: 'proxima-nova', sans-serif; }

}

section {
  height: 100vh;
  padding: 0 2em;

  &:not([role='main']) { padding: 4em 2em; }

  h3,
  h4,
  h5,
  h6 { text-align: center; }

  h5 {
    @include font-size(32);
    color: rgba(0, 0, 0, .4);
    margin-bottom: 1em;
  }

}

a:not([role='button']):not(.actionable) {
  backface-visibility: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  color: $green;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transform: translateZ(0);

  &:before {
    background: $green;
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    right: 100%;
    transition-duration: .3s;
    transition-property: right;
    transition-timing-function: ease-out;
    z-index: -1;
  }

  &:hover:before,
  &:focus:before,
  &:active:before { right: 0; }

  &:hover {
    picture img { transform: scale(1); }
  }

  picture {
    display: inline-block;

    img {
      transform: scale(.9);
      transition-duration: .3s;
    }
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %no-box;
  font-weight: 300;
}

h1,
.h1,
h2,
.h2 {
  @include font-size(48);

  @media #{$wide} { @include font-size(62); }
}

h3,
.h3,
h4,
.h4 {
  @include font-size(20);

  @media #{$wide} { @include font-size(26); }
}

.hide { @extend %hide; }
