%no-box {
  margin: 0;
  padding: 0;
}

@mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.5) {
  font-size: ($sizeValue * 1) + px;
  line-height: ($line * 1) + px;
  font-size: ($sizeValue / 10) + rem;
  line-height: ($line / 10) + rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-moz-selection {
  background: $highlight-yellow;
  text-shadow: none;
}

::selection {
  background: $highlight-yellow;
  text-shadow: none;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html { font-size: 62.5%; } // Base 10 Scale

body {
  @extend %no-box;
  @include font-size(16);
  -webkit-backface-visibility: hidden;
  background-color: $olive;
  color: $black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;

  .wf-active & {
    font-family: 'proxima-nova', sans-serif;
  }

}

section {
  height: 100vh;
  padding: 0 2em;

  &:not([role='main']) {
    padding: 4em 2em;
  }

  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  h5 {
    @include font-size(32);
    color: rgba(0, 0, 0, .4);
    margin-bottom: 1em;
  }

}

a:not([role='button']):not(.actionable) {
  color: $green;
  text-decoration: none;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: $green;
    height: 3px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    right: 0;
  }

  &:hover {
    picture img {
      transform: scale(1);
    }
  }

  picture {
    display: inline-block;
    img {
      transform: scale(.9);
      transition-duration: .3s;
    }
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %no-box;
  font-weight: 300;
}

h1,
.h1,
h2,
.h2 {
  @include font-size(48);
  @media #{$wide} {
    @include font-size(62);
  }
}

h3,
.h3,
h4,
.h4 {
  @include font-size(20);
  @media #{$wide} {
    @include font-size(26);
  }
}

.hide {
  display: none;
}

@import "banner";
@import "contentinfo";
